<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <title>Exercice 3</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
  <script src="script.js"></script>

</head>
<body ng-app="app" ng-controller="buttonCtrl">
  <div class="container">
    <form>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="userName"> Votre nom : </label>
          <input type="text" name="userName" class="form-control" ng-model="userName" ng-class="{submitStyle :submit}" required >
          <p>{{userName.$valid}}</p>
          <label for="userMail"> Votre courriel : </label>
          <input type="email" name="userMail" class="form-control" ng-model="userMail" ng-class="{submitStyle :submit}" required>
          <p>{{userMail.$valid}}</p>
        </div>
      </div>
      <div class="form-row ">
        <div class="form-group col-12">
          <label for="userSubject"> Votre sujet : </label>
          <input type="text" name="userSubject" class="form-control" ng-model="userSubject" ng-class="{submitStyle :submit}" required>
          <p>{{userSubject.$valid}}</p>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="userText"> Votre texte : </label>
          <textarea name="userText" rows="8" cols="80" class="form-control" ng-model="userText" ng-class="{submitStyle :submit}" required maxlength="10"></textarea>
          <p>{{userText.$valid}}</p>
        </div>
        <div class="form-group col-12">
          <button type="submit" name="buttonValid" ng-click="buttonValid(form.$valid)">Envoyer</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p ng-if = "submit && form.$invalid">Le formulaire comportes des erreurs.</p>
          <div ng-if = "form.userName.$invalid">
            <ul>
              <li ng-repeat="(type, error) in form.userName.$error">{{type}}</li>
            </ul>
          </div>
          <div ng-if = "form.userMail.$invalid">
            <ul>
              <li ng-repeat="(type, error) in form.userMail.$error">{{type}}</li>
            </ul>
          </div>
          <div ng-if = "form.userSubject.$invalid">
            <ul>
              <li ng-repeat="(type, error) in form.userSubject.$error">{{type}}</li>
            </ul>
          </div>
          <div ng-if = "form.userText.$invalid">
            <ul>
              <li ng-repeat="(type, error) in form.userText.$error">{{type}}</li>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
